<mat-card>
  <form class="form" (ngSubmit)="startGame($event, startConfigForm)">
    <mat-icon>more_horiz</mat-icon>
    <mat-form-field class="full-width">
      <input name="rows" [(ngModel)]="startConfigForm.rows" required matInput placeholder="Rows" type="number" min="2" max="100">
    </mat-form-field>
    <mat-icon>more_vert</mat-icon>
    <mat-form-field class="full-width">
      <input name="cols" [(ngModel)]="startConfigForm.cols" required matInput placeholder="Cols" type="number" min="2" max="100">
    </mat-form-field>
    <mat-icon>error</mat-icon>
    <mat-form-field class="full-width">
      <input name="mines" [(ngModel)]="startConfigForm.mines" required matInput placeholder="Mines" type="number" min="1" max="100">
    </mat-form-field>
    <mat-card-actions>
      <button type="submit" color="primary" mat-button mat-raised-button>
        Start game
      </button>
    </mat-card-actions>
  </form>
</mat-card>