.mat-card {
  width: 40%;
  margin: 2rem auto;
}
.mat-card .mat-card-actions {
  padding-top: 0;
}
.mat-card .mat-button {
  margin: 0 auto;
  display: block;
}
.form {
  min-width: 150px;
  max-width: 40%;
  width: 100%;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}
