.mat-card {
  width: 40%;
  margin: 2rem auto;
}

.mat-card .mood {
  font-size: 80px;
  width: 80px;
  height: 80px;
  margin: 2rem auto;
  display: block;
}

.mat-card .mat-card-actions {
  padding-top: 0;
}

.mat-card .mat-icon-button,
.mat-card .mat-button {
  margin: 2rem auto;
  display: block;
  text-decoration: none;
}

a.mat-button {
  width: 20%;
}
