<mat-card>
  <mat-icon class="mood">{{icon}}</mat-icon>
  <mat-card-actions>
    <button color="primary" (click)="startGame()" mat-icon-button mat-raised-button>
      <mat-icon>replay</mat-icon>
    </button>
    <a mat-button mat-raised-button routerLink="/">
      Start screen
    </a>
  </mat-card-actions>
</mat-card>