<div>
  <mat-grid-list cols={{cols}} gutterSize="0">
    <mat-grid-tile *ngFor="let tile of tiles">
      <app-game-tile name={{tile.state}} (click)="openCell(tile.x, tile.y)" (contextmenu)="cycleCellFlag(tile.x, tile.y)"></app-game-tile>
    </mat-grid-tile>
  </mat-grid-list>
</div>
