div {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  height: 90vh;
  grid-gap: 10px;
  grid-template-areas:
    ". . ."
    ". a ."
    ". . .";
}
.mat-grid-list {
  width: 100%;
  grid-area: a;
  align-self: center;
  justify-self: center;
}

app-game-tile {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1%;
}
